.iconfont.icon-spotify {
  font-size: 0; /* 隐藏原字体图标 */
  display: inline-block;
  width: 24.33px;
  height: 24px;
  background-image: url('/img/spotify.png'); /* 本地图片 */
  background-size: cover;
  background-position: center;
  vertical-align: -2px;
}